<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCD_EF</title>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        <div id="logotipo">
            <img src="/static/images/UNTELSLOGO.png">
            <h1>Examen Final (LP3)</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'ruta_saludo' %}">Inicio</a></li>
            <li><a href="{% url 'ruta_integrantes' %}">Integrantes</a></li>
            <li>Crear Docente</a></li>
            <li>Listar Docentes</a></li>
            <li>Crear Curso</a></li>
            <li>Listar Cursos</a></li>
        </ul>
    </nav>
    <div id="content">
        <div class="box">
            
            {% block content %}
     
            {% endblock %}
        </div>
    </div>
  
</body>
</html>